* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
html {
    background-color: #3D5656;
}
:root {
    --color: white;
}
.head {
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #CFFDE1;
    opacity: 80%;
}
h2,h3 {
    padding: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    color: var(--color);
}
.search-bar {
    padding: 20px;
    margin: 20px;
    opacity: 80%;
    display: block;
}
.search-bar h2 {
    margin-bottom: 10px;
    font-size: 20px;
}
#search-bar {
    font-size: 20px;
    padding: 5px;
    border-radius: 6px;
    border: 1px solid #00B4CC;
    color: black;
    background: white;
}
.search-history-main {
    margin: 20px;
}
.search-icon {
    font-size: 20px;
    border-radius: 6px;
    background-color: #68B984;
    padding: 5px;
}
button:hover {
    cursor: pointer;
}
.historyBtn {
    font-size: 30px;
    width: 100%;
}
.panel {
    margin: 15px;
    width: 53rem;
    height: 22rem;
    border: 2px solid black;
    border-radius: 6px;
    opacity: 80%;
    align-items: baseline;
}
.content {
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    height: 8rem;
}
.date {
    margin: 10px;
    display:flex;
    justify-content: center;
    text-align: center;
}
.icon{
    font-size: 100px;
}
.iconCard {
    font-size: 50px;
}
.search-history {
    margin: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 12rem;
    width: 50%;
}

.search-history button{
    font-size: 30px;
}
.five-day {
    margin: 20px;
    padding: 20px;
}
.weather-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: row wrap;
    overflow-x: hidden;
}

.card {
    margin: 5px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    width: 12rem;
    height: 15rem;
    background-color: #68B984;
}
.loadout {
    display:flex;
    justify-content: space-evenly;
    height: 10rem;
}
@media only screen and (max-width: 768px){ 
    .head {
        width: 100vw;

    }
    .container {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
    .panel {
        padding: 40px;
        width: 100vw;
        display: flex;
        align-items: baseline;
        
    }
    .content {
        display: flex;
        flex-direction: column;
    }
    .weather-cards {
        display: grid;
        grid-template-columns: 1fr 300px
    }
    .loadout {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
}